textarea {
  width: 80%;
  height: 10vh;
  display: block;
  margin: 1rem;
  padding: 1rem;
}
#output {
  width: 60%;
  height: 25vh;
  display: block;
  border: solid 1px black;
  margin: 1rem;
  padding: 1rem;
}
