textarea {
  width: 50%;
  height: 10vh;
  display: block;
  margin: 1rem;
  padding: 1rem;
  margin-left: auto;
  margin-right: auto;
}

#output {
  width: 60%;
  height: 25vh;
  display: block;
  border: solid 1px black;
  margin: 1rem;
  padding: 1rem;
  margin-left: auto;
  margin-right: auto;
}
.navigation {
  background-color: blueviolet;
  color: white;
  border: 1.5rem;
  padding: 3rem;
  text-align: center;
  font-size: larger;
}
.minions {
  text-align: center;
  background-color: blueviolet;
  color: white;
  border: 1.5rem;
  padding: 1.5rem;
  font-size: large;
}
#btn-translate {
  text-align: center;
}
.outputDisplay {
  text-align: center;
  font-size: larger;
}
